* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  font-family:"Xanh Mono", serif;
}

body {
  background-color: #0d244d;
  font-family: "Pliant", sans-serif;
}

/* General Colour Scheme: #0d244d, #f4f3ee, #214e34, #8a817c, #ff1654 */